<p>
  <strong>Produto:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Preço:</strong>
  R$ <%= @product.price %>
</p>

<%= link_to 'Voltar', products_path %>
  <%= link_to 'Editar', edit_product_path(@product) %>